*{
    padding: 0;

    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');


.hide{
   color: #22cc30;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#burger{
    display: none; 
    cursor: pointer;
}

.closeMenu{
   display: none;
}
.mainMenu{
    display:none;
}
.mobile-nav{
    display:none;
}
.mobile-nav ul li i{
    display:none;
    
}



#newnav{
    display: none;
}
button
{
    cursor: pointer;
}
header{
    background-color: #6222cc;
    width: 100vw;
    height: 100%;
    max-width: 1440px;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    display: flex;
flex-direction: column;
align-items: center;
}



nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
width: 100%;
padding: 20px 2rem;
max-width: 1440px;
border-bottom: 0.2px solid rgba(255, 255, 255, 0.068) 
}

nav ul{
    display: flex;

}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
color:  white;
margin: 5px 10px;
font-size: 1.2rem;
}

.logo
{
    color: white;
    font-size: 2rem;
}
/* button================== */
.btn-bg-white{
    padding: 20px 30px;
color: #6222CC;
background-color:white;
border: 0;
border-radius: 60px;font-size: 1.2rem;
}
.yellow-btn{
    padding: 20px 30px;
color: black;
background-color:goldenrod;
border: 0;
border-radius: 60px;font-size: 1.2rem;
margin: 0 15px;
}
.flex-btn{
    margin-top:2rem ;
display: flex;

}
 main{
     width: 100vw;
     justify-content: center;
     display: flex;
     align-items: center;
     flex-direction: column;

 }


.grid-2{
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    max-width: 1440px;
    padding: 5rem 5rem;
    font-family: 'Raleway', sans-serif;
    align-items: center;
}

.left-container{
    width: 100%;
    padding: 5rem 0.5rem;
letter-spacing: 1px;


}
.h1-grid{
margin-top: 5px;
font-size: 2.5rem;

}

.right-container{
    width: 100%;
   padding-bottom: 2rem;
}
.right-container img{
    width: 100%;

}
.mrt{font-family: 'Heebo', sans-serif;
    margin-top:10px ;
}









/* wave------- */
.wave{
    width: 100%;
    position:relative;
    bottom: 10;
    left: 0;
    background-color: #6222cc;
 
}



.grid-3{
display: grid;
width: 100%;
max-width: 1440px;
grid-template-columns: repeat( auto-fill, minmax(350px, 1fr)) ;
height: 100%;
row-gap: 1rem;

padding: 50px 100px;
column-gap: 1rem;
font-family: 'Raleway', sans-serif;
justify-content: center;
}
.card{
    background-color: #F6F4F9 !important;
width: 100%;
max-width: 350px;
border-radius: 1rem;
text-align: center;
padding: 40px;
height: 100%;
cursor: pointer;
}

.card:hover{
transform: translateY(-15px);
transition:  all ease 0.8s;
}



.card-pra{
color: grey;
}
.card-h2{
font-size: 1rem;
margin: 10px 0;
}
.fa-comments-alt{
    font-size: 3rem;
    margin: 1rem 0;
    color: #6222cc;
    }
    



.progress{
    display: flex;
    width: 100%;
    background-color: #888888;
    height: 5px;
    padding: 0 0px;
    align-items: left;
 border-radius: 12px;
}
.line{
  
    width: 80%;
    background-color: #22cc30;
    height: 5px;

}

.black{
    color: black;
}

.golden{
    color: goldenrod;
    margin: 1rem 0;
}


.pra-grey{
margin: 0.7rem 0;
}
.line2{
  
    width: 90%;
    background-color:orange;
    height: 5px;

}
.line3{
  
    width: 95%;
    background-color:rgb(0, 4, 235);
    height: 5px;

}
.flex-text-prog{
    display: flex;
    justify-content: space-between;
    color: black;
    margin: 10px 0;
}

.flex{
    display: flex;
    width: 100%;
    flex-direction: column;

}
.flex-flex{
    display: flex;
    width: 100%;
background-color: aqua;

}

.block
{
    width: 100%;

    margin-top: 2rem;
}


.bg{ 

background-color: #6222cc;
padding: 20px 50px;
color: white;
margin: 2rem 1rem 1rem 0;
border-radius: 50px;
border: 0;
}


.max{
    background-color: #6222cc;
    width: 100vw;
    display: flex;
    justify-content: center;
text-align: center;
align-items: center;
height: 300px; max-width: 1440px;
}

.grid-4{
    justify-content: center;
    display: grid;
    width: 100%;
    max-width: 1440px;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr)) ;
 
    background-color: #6222cc;
    padding: 20px 100px;

}

.card-transparent{

    width: 100%;
    text-align: center;
    color: white;
}
.card-transparent i{
 font-size: 4rem;
 margin: 1rem 0;
 color: goldenrod;
    
}




















.max2{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    height:1000px;

}


.grid-3-t{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 300px 300px;
    column-gap: 1rem;
    row-gap: 1rem;
padding: 20px 100px;
max-width: 1440px;

}






.ani-card{
    padding:2rem;
    border-radius: 20px;
    background-color: #f6f4f9;
    width: 100%;
text-align: center;    
display: flex;
flex-direction: column;
align-items: center;


}

.ani-card:hover{
    padding:2rem;
    border-radius: 20px;
  
transform: skewY(-100px);
transition: all ease 1s;


text-align: center;    
display: flex;
flex-direction: column;
align-items: center;
color: white;
background-color: #6222cc;
}




.shape-card-icon:hover{
    padding: 20px;
width: 30%;

background-color: goldenrod;
border-radius: 0px 40px 0px 40px;


}



  #shape{
    color: goldenrod;

  }










.ani-card i{
  font-size: 3rem;
  color: white;
}

.shape-card-icon{
    padding: 20px;
width: 30%;

background-color: #6222cc;
border-radius: 0px 40px 0px 40px;


}


.card-h2-t{
    margin: 1rem 0;
    font-size: 1rem;
}


.pra-grey-t{
margin: 2px 0;
color: rgb(0, 0, 0);
font-size: 0.8rem;
}

.pra-grey-t:hover{
    margin: 2px 0;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    }







/* email-section----- */
.max3{
    width: 100vw;
    align-items: center;
    background-color: #6222cc;
    height: 100%;
    justify-content:center
     ;
     max-width: 1440px;
    display: flex;
}





.email-section{
    
    width: 50%;max-width: 1440px;
    height: 100%;

margin: 2rem 0;
padding:2rem 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Heebo",sans-serif;
    font-size: 1rem;

    line-height: 1.5;








}

.pra-white{
    color: white;
    font-weight: 600;
    padding-top: 10px;
}





.white-h1{
    color: white;
    font-weight: 600;
    padding: 10px 0;
    font-size: 2.4rem;
}
.p-white{
color: #f6f4f9;

padding-top: 5px;
}.p-white2{
    color: white;
   
}
.search-box-email{
    display: flex;
align-items: center;
    width: 80%;
    background-color: white;
    padding: 5px 20px;
    margin-top: 1rem;
    border-radius:50px;
}


.search-box-email input{
    display: flex;
    padding: 5px 10px;
    width: 100%;
    background-color: white;
    border: 0;

}
.search-box-email input:focus{
    outline: 0;
}

#email-send-icon{
    font-size: 2rem;
color: #6222cc;
}




























/* portfolio */
.portfolio{
display: flex;
flex-direction: column;
width: 100%;
margin-top: 2rem;
align-items: center;

padding: 10px 100px;


}


.div-port{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pra-golden{
    color: goldenrod;
    margin: 1rem 0;   
     font-family: "Heebo",sans-serif;
    font: 400;
}
.flex{width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

}


.grid-3-2nd{
    display: grid;
    width: 100%;
    grid-template-columns: repeat( 3,1fr) ;
    grid-template-rows: 400px 400px;
column-gap: 0.5rem;
margin-top: 2rem;
row-gap: 0.5rem;
max-width: 1440px;
padding: 20px 100px;

}


.card-with-img{
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 400px;
border-radius: 10px; 
    background-color: #F6F4F9;



    font-family: "Heebo",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #47454b;
    background-color: #F6F4F9;
}

.port-h1
{
    font-size: 2rem   ;
     font-family: "Heebo",sans-serif;
}

.card-with-img img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
    















.text{
padding: 20px 10px;



}
.text h4{

font-size: 1rem;

    
}
.card-with-img p{
margin: 10px 0;
}

















/* team */

.team-section{
    width: 100%;display: flex;
    flex-direction: column;
    max-width: 1440px;
justify-content: center;
text-align: center;

}

.card-team{
display: flex;
flex-direction: column;
font-family: "Jost",sans-serif;
width: 350px;
background-color: #F6F4F9;
height: 500px;
}

.grid-3-team{
    justify-content: center;
width: 100%;
display: grid;
grid-template-columns: 350px 350px 350px;
padding: 10px 100px;
max-width: 1440px;
column-gap: 10px;
margin-top: 2rem;
}
.grey{
    color: grey;
}
.img-team{
align-items: center;
    display: flex;
   border-bottom: 1px solid rgb(223, 222, 222);
  flex-direction: column;
  padding: 2rem;
}
.img-team img{
    width: 300px ;
    height:300px;
border-radius: 50%;
   
}
.h2-team{
    margin:1rem 0 0 0.8rem;
}


.team-h1{
font-size: 2rem;
}
.flex-social{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
margin: 20px 20px;
font-size: 1rem;
}

.flex-social i{
cursor: pointer;

margin: 0px 10px;
font-size: 1rem;
}
.flex-social i:hover{
color: #6222cc;
    }











footer{
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-container{
    width: 100%;
    max-width: 1440px;
    display: flex;
}
.grid-4-footer{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    padding: 10px 100px;
}

.footer-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:2rem ;
    color: whitesmoke;
    font-family: "Heebo",sans-serif;
}


#wave {
    position: relative;
    height: 316px;
    width: 100%;
    max-width: 1440px;


}
.footer-container{
color: white;
width: 100%;    max-width: 1440px;
background-color: #6222CC;
}


.footer-nav{
    display: flex;
    flex-direction: column;
    padding:1rem ;
    color: whitesmoke;
    font-family: "Heebo",sans-serif;
}
.footer-nav ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;

}

.footer-nav ul LI{
  margin-top: 20PX;

}





.footer-nav ul li a{
 color: white;
 text-decoration: none;
 font-size: 1rem;
 margin-top:22px;
}



.footer-nav ul li i { 
 margin: 0 5px;
   }
   


.flex-social-footer
{
    display: flex;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem 2rem;
font-size: 2rem;

}
.flex-social-footer i
{
   margin: 10px 10px;


}

.footer-nav-grid-small{
    margin-top: 2rem;
}

.grid-small{
    display: grid;
    width: 100%;
grid-template-columns: 100px 100px 100px;
column-gap: 10px ;
row-gap: 10px;
}

.mr{
 margin-bottom: 20px; font-family: "Heebo",sans-serif;
}
.grid-small img{
  
    width: 100%;

}
.pra-footer{
    font-family: "Heebo",sans-serif;
    margin: 10px 0;
}




    




















/* responsive----------------- */

@media only screen and (max-width: 1250px) {

    .grid-4-footer {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4,1fr);
        padding: 4px 100px;
    }

    .footer-nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 15px;
        margin-top: 5px;
    }


    .footer-nav ul LI {
        margin-top: 8PX;
    }






}























@media only screen and (max-width: 1200px) {
   
main{
    display: flex;
flex-direction: column;
align-items: center;


}


    .grid-3 {
        display: grid;
        width: 100%;
        max-width: 1440px;
        grid-template-columns: repeat(3,1fr);
        height: 100%;
        row-gap: 1rem;
        padding: 50px 50px;
       
        font-family: 'Raleway', sans-serif;
        justify-content: center;
    }
    .grid-3-2nd {
        display: grid;
        width: 100%;
        grid-template-columns: repeat( 3,1fr);
        grid-template-rows: 400px 400px;
        column-gap: 0.5rem;
        margin-top: 2rem;
        row-gap: 0.5rem;
        max-width: 1440px;
        padding: 20px 0px;
    }




    .shape-card-icon {
        padding:10px;
        width: 30%;
        background-color: #6222cc;
        border-radius: 0px 40px 0px 40px;
        font-size: 1rem;
    }




    .grid-4-footer {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4,1fr);
        padding: 4px 12px;
    }







    .ani-card i {
        font-size: 2rem;
        color: white;
    }
    #wave {
        position: relative;
        height: 267px;
        width: 100%;
        max-width: 1440px;
    }

  }
  @media only screen and (max-width: 1120px) {
    #wave {
        position: relative;
        height: 231px;
        width: 100%;
        max-width: 1440px;
    }
    
    

    .portfolio {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2rem;
        align-items: center;
        padding: 10px 16px;
    }
  }





  @media only screen and (max-width: 1000px) {

    .grid-4-footer {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        padding: 4px 102px;
    }
    .grid-4 {
        justify-content: center;
        display: grid;
        width: 100%;
        max-width: 1440px;
        grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));
        background-color: #6222cc;
        padding: 20px 100px;
    }



    .max {
        /* background-color: #6222cc; */
        width: 100vw;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 300px;
        max-width: 1440px;
    }


  

    .grid-2 {
        color: white;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        max-width: 1440px;
        padding: 2rem 2rem;
        font-family: 'Raleway', sans-serif;
        align-items: center;
    }

    #wave {
        position: relative;
        height: 207px;
        width: 100%;
        max-width: 1440px;
    }

  }



  
  @media only screen and (max-width: 900px) {
    .p-white ,.p-white2{
        font-size: 0.8rem;
        color: #f6f4f9;
        padding-top: 5px;
        text-align: center;
    }
    .h1-grid {
        margin-top: 5px;
        font-size: 1.5rem;
    }

    .mrt {
        font-family: 'Heebo', sans-serif;
        margin-top: 5px;
    }


    .btn-bg-white {
        padding: 5px 23px;
        color: #6222CC;
        background-color: white;
        border: 0;
        border-radius: 60px;
        font-size: 1rem;
    }


    .yellow-btn {
        padding: 12px 30px;
        color: black;
        background-color: goldenrod;
        border: 0;
        border-radius: 60px;
        font-size: 1rem;
        margin: 0 15px;
    }

    .grid-3 {
        display: grid;
        width: 100%;
        max-width: 1440px;
        grid-template-columns: repeat(3,1fr);
        height: 100%;
        row-gap: 1rem;
        padding: 50px 11px;
        font-family: 'Raleway', sans-serif;
        justify-content: center;
    }

    .left-container {
        width: 100%;
        padding: 2rem 0.5rem;
        letter-spacing: 1px;
    }


    .right-container {
      display: none;
    }

    .grid-2 {
        color: white;
        display: grid;
        grid-template-columns: 97% 0%;
        width: 100%;
        max-width: 1440px;
        padding: 2rem 2rem;
        font-family: 'Raleway', sans-serif;
        align-items: center;
    }


















    .shape-card-icon {
        padding: 22px;
        width: 92%;
        background-color: #6222cc;
        border-radius: 0px 40px 0px 40px;
        font-size: 0.7rem;
    }.ani-card i {
        font-size: 1.5rem;
        color: white;
    }



    .grid-3-t {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 262px 262px;
        column-gap: 1rem;
        row-gap: 1rem;
        padding: 20px 100px;
        max-width: 1440px;
    }

    .grid-3-2nd {
        display: grid;
        width: 100%;
        grid-template-columns: repeat( 2,1fr);
        grid-template-rows: 400px 400px;
        column-gap: 0.5rem;
        margin-top: 2rem;
        row-gap: 0.5rem;
        max-width: 1440px;
        padding: 20px 100px;
    }
  
  

    .grid-3-team {
        justify-content: center;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 10px 100px;
        max-width: 1440px;
        column-gap: 10px;
        margin-top: 2rem;
    }

    
    .card-team {
        display: flex;
        flex-direction: column;
        font-family: "Jost",sans-serif;
        width: 100%;
        background-color: #F6F4F9;
        height: 100%;
    }
    .img-team img {
        width: 100%;
        height:100%;
        border-radius: 50%;
    }










    #wave {
        position: relative;
        height: 186px;
        width: 100%;
        max-width: 1440px;
    }



    .grid-4-footer {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        padding: 4px 102px;
    }







  }






  
  @media only screen and (max-width: 817px) {


    nav ul{
        display: none;
    
    }
    nav ul li{
        list-style-type: none;
    }
    nav ul li a{
        text-decoration: none;
    color:  white;
    margin: 5px 10px;
    font-size: 1.2rem;
    }
    
    .logo
    {
        color: white;
        font-size: 2rem;
    }



#top-btn{
    display: none;
}





  }




  @media only screen and (max-width: 817px) {
    .grid-2 {
        color: white;
        display: grid;
        grid-template-columns: 99% 1%;
        width: 100%;
        max-width: 1440px;
        padding: 2rem 2rem;
        font-family: 'Raleway', sans-serif;
        align-items: center;
        margin: 2rem 0;
    }












    .grid-3-2nd {
        display: grid;
        width: 100%;
        grid-template-columns: repeat( 2,1fr);
        grid-template-rows: 400px 400px;
        column-gap: 0.5rem;
        margin-top: 2rem;
        row-gap: 0.5rem;
        max-width: 1440px;
        padding: 20px 34px;
    }.grid-3 {
        display: grid;
        width: 100%;
        max-width: 1440px;
        grid-template-columns: repeat(1,1fr);
        height: 100%;
        row-gap: 1rem;
        padding: 50px 181px;
        font-family: 'Raleway', sans-serif;
        justify-content: center;
    }



    .grid-2nd {
        color: white;
        display: grid;
        grid-template-columns: 99% 1%;
        width: 100%;
        max-width: 1440px;
        padding: 7rem 2rem;
        font-family: 'Raleway', sans-serif;
        align-items: center;
        margin: 3rem 0;
    }









    .grid-4 {
        justify-content: center;
        display: grid;
        width: 100%;
        max-width: 1440px;
        grid-template-columns: repeat(1,1fr);
        background-color: #6222cc;
        padding: 2rem 100px;
        margin: 5rem 0;
    }

    .grid-3-t {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 1rem;
        row-gap: 1rem;
        padding: 20px 100px;
        max-width: 1440px;
    }

    .shape-card-icon {
        padding: 22px;
        width: 42%;
        background-color: #6222cc;
        border-radius: 0px 40px 0px 40px;
        font-size: 0.7rem;
    }



    .p-white {
        font-size: 0.8rem;
        color: #f6f4f9;
        padding-top: 5px;
    }
    .p-white2{
        font-size: 0.8rem;
        color: #f6f4f9;
        padding-top: 5px;
        margin-bottom: 1rem;
    }
    
    .max2 {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 12rem;
        height: 1000px;
    }




    .grid-4-footer {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        padding: 4px 102px;
    }






  }


  @media only screen and (max-width: 785px) {



    .white-h1 {
        color: white;
        font-weight: 600;
        padding: 10px 0;
        font-size: 1.4rem;
    }



    #wave {
        position: relative;
        height: 156px;
        width: 100%;
        max-width: 1440px;
    }





  }





  @media only screen and (max-width: 700px) {

  




    #burger{
        display: block;
        position: absolute;
        top: 9px;
        right: 15px;
        font-size: 2rem;
        color: white;
    }


.mobile-nav{
   display: none;
flex-direction: column;
position: absolute;
right: 0px ;
top: 0px;
width: 100%;
height: 100vh;
padding-top: 2rem;
background-color:#6222cc;
text-align: center;



}.mobile-nav ul
{
    display: none;
    display: flex;
flex-direction: column;



}
.closeMenu{
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 2rem;
    color: whitesmoke;
}

.mobile-nav ul li
{
list-style-type: none;


}


.mobile-nav ul li a
{

text-decoration: none;

color: white;
margin: 10px 20px;
justify-content: space-between;
display: flex;
flex-direction: column;
padding: 10px 10px;
font-size: 1.5rem;
}


.grid-3 {
    display: grid;
    width: 100%;
    max-width: 1440px;
    grid-template-columns: repeat(1,1fr);
    height: 100%;
    row-gap: 1rem;
    padding: 50px 134px;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
}





    .email-section {
        width: 100%;
        max-width: 1440px;
        height: 100%;
        margin: 2rem 0;
        padding: 2rem 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: "Heebo",sans-serif;
        font-size: 1rem;
        line-height: 1.5;
    }
    @media only screen and (max-width: 900px)
 
{
    .grid-3-2nd {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 400px;
        column-gap: 0.5rem;
        margin-top: 2rem;
        row-gap: 0.5rem;
        max-width: 1440px;
        padding: 20px 10rem;
        justify-content: center;
    }












  }











  @media only screen and (max-width: 627px) {



   
    #wave {
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 1440px;
    }






    .logo {
        color: white;
        font-size: 1rem;
    }

    .shape-card-icon {
        padding: 22px;
        width: 58%;
        background-color: #6222cc;
        border-radius: 0px 40px 0px 40px;
        font-size: 0.7rem;
    }





    .grid-2nd {
        color: white;
        display: grid;
        grid-template-columns: 99% 9%;
        width: 100%;
        max-width: 1440px;
        padding: 7rem 2rem;
        font-family: 'Raleway', sans-serif;
        align-items: center;
        margin: 3rem 0;
    }





  }


  @media only screen and (max-width: 600px) {
    #wave {
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 1440px;
    }
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
       
        column-gap: 1rem;
        row-gap: 1rem;
        padding: 4rem 100px;
        max-width: 1440px;
        margin: 2rem 0;
    }
    .grid-2 {
        color: white;
        display: grid;
        grid-template-columns: 99% 1%;
        width: 100%;
        max-width: 1440px;
        padding: 2rem 1rem;
        font-family: 'Raleway', sans-serif;
        align-items: center;
    }

    .max3 {
        width: 100vw;
        align-items: center;
        background-color: #6222cc;
        height: 100%;
        justify-content: center;
        max-width: 1440px;
        padding: 2rem;
        margin-top: 43rem;
        display: flex;
    }

    .grid-2nd {
        color: white;
        display: grid;
        grid-template-columns: 99% 1%;
        width: 100%;
        max-width: 1440px;
        padding: 7rem 2rem;
        font-family: 'Raleway', sans-serif;
        align-items: center;
        margin: 3rem 0;
    }




  }




  @media only screen and (max-width: 576px) {

    #wave {
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 1440px;
    }

    .grid-3-team {
        justify-content: center;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px 100px;
        max-width: 1440px;
        column-gap: 1rem;
        margin-top: 2rem;
    }




    .grid-4-footer {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        padding: 4px 33px;
    }



  }




  @media only screen and (max-width:  542px) {

    .grid-3 {
        display: grid;
        width: 100%;
        max-width: 1440px;
        grid-template-columns: repeat(1,1fr);
        height: 100%;
        row-gap: 1rem;
        padding: 50px 50px;
        font-family: 'Raleway', sans-serif;
        justify-content: center;
    }

    #wave {
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 1440px;
    }

 .ani-card{
     width: 100%;
     height: 100%;
     padding: 5;
    
 }
 .card-h2-t


 {
font-size: 0.9rem;
 }





 .pra-grey-t
{
    margin: 0;
}



 .shape-card-icon {
    padding: 22px;
    width: 40%;
    background-color: #6222cc;
    border-radius: 0px 40px 0px 40px;
    font-size: 0.7rem;
}
 .max3 {
    width: 100vw;
    align-items: center;
    background-color: #6222cc;
    height: 100%;
    justify-content: center;
    max-width: 1440px;
    padding: 2rem;
    margin-top: 50rem;
    display: flex;
}

.grid-3-t {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 1rem 52px;
    max-width: 1440px;
    margin: 2rem 0;
}
  }






  @media only screen and (max-width:  485px) {
    .port-h1 {
        font-size: 1.5rem;
        font-family: "Heebo",sans-serif;
    }



  }
 @media only screen and (max-width:  414px) {
 

.ani-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    padding: 10px 10px;
    margin: 0;
}

.max3 {
    width: 100vw;
    align-items: center;
    background-color: #6222cc;
    height: 100%;
    justify-content: center;
    max-width: 1440px;
    padding: 1rem;
    margin-top: 30rem;
    display: flex;
}

.max3 {
    width: 100vw;
    align-items: center;
    background-color: #6222cc;
    height: 100%;
    justify-content: center;
    max-width: 1440px;
    padding: 1rem;
    margin-top: 40rem;
    display: flex;
}


  }


  @media only screen and (max-width:  414px) {
 

  .grid-4-footer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1,1fr);
    padding: 4px 9px;


}
.max2 h1 {
    font-size: 1rem;
}
.grid-small {
    display: grid;
    width: 100%;
    grid-template-columns: 72px 68px 64px;
    column-gap: 10px;
    row-gap: 10px;
}

}



@media only screen and (max-width:  374px) {


    .fa-comments-alt{
        font-size: 3rem;
        margin: 1rem 0;
        color: #6222cc;
        }
        
        .fa-comments-alt:before {
            content: "\f4b6";
            color: #6222cc;
        }






    .grid-2 {
        color: white;
        display: grid;
        grid-template-columns: 99% 1%;
        width: 100%;
        max-width: 1440px;
        padding: 0rem 0rem;
        font-family: 'Raleway', sans-serif;
        align-items: center;
    }
    .grid-3 {
        display: grid;
        width: 100%;
        max-width: 1440px;
        grid-template-columns: 1fr;
        height: 100%;
        row-gap: 1rem;
        padding: 50px 13px;
        font-family: 'Raleway', sans-serif;
        justify-content: center;
    }
    .yellow-btn {
        padding: 5px 30px;
        color: black;
        background-color: goldenrod;
        border: 0;
        border-radius: 60px;
        font-size: 0.7rem;
        margin: 0 15px;
    }

    .btn-bg-white {
        padding: 13px 23px;
        color: #6222CC;
        background-color: white;
        border: 0;
        border-radius: 60px;
        font-size: 0.7rem;
    }



.ani-card{
    width: 100%;
}

.grid-2nd {
    color: white;
    display: grid;
    grid-template-columns: 98% 9%;
    width: 100%;
    max-width: 1440px;
    padding: 7rem 1rem;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    margin: 3rem 0;
}

}

@media only screen and (max-width:  350px) {


    .port-h1 {
        font-size: 1.2rem;
        font-family: "Heebo",sans-serif;
    }





}
@media only screen and (max-width:  324px) {


    .port-h1 {
        font-size: 1.2rem;
        font-family: "Heebo",sans-serif;
    }
    .grid-3-t {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
        padding: 1rem 7px;
        max-width: 1440px;
        margin: 2rem 0;
    }




}